<p id="notice"><%= notice %></p>
<div class="container-fluid" id="prod-show">
	<div class="row">
		<div class="col-md-12 col-xs-12">
		  
		   <h3><%= @product.name %></h3>
      
		  <p class><%= image_tag(@product.image_url) %></p>
	  </div>
	  
	    <h4>
        Description: 
      </h4>
      
        <p>
          <strong><%= @product.description %></strong>
        </p>
      
      <h4>
         Color: 
      </h4>
    
         <p>
           <strong><%= @product.colour %></strong>
         </p>

      <h4>
        Price: 
      </h4
      
        <p>
          <strong><%= @product.price %></strong>
        </p>
  </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
